@model Airbnb_v3.Models.SummaryListings

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SummaryListings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HostId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HostId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HostName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HostName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NeighbourhoodGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NeighbourhoodGroup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Neighbourhood)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Neighbourhood)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MinimumNights)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinimumNights)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfReviews)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfReviews)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastReview)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastReview)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReviewsPerMonth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewsPerMonth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CalculatedHostListingsCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CalculatedHostListingsCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Availability365)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Availability365)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
