@model Airbnb_v3.Models.Listings

@{
    ViewData["Title"] = "Details";
}

<h2>Details @Html.DisplayFor(model => model.Name) </h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Airbnb URL
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ListingUrl)
        </dd>

        <dt>
            Naam
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Beschrijving
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Ruimte
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Space)
        </dd>

        <dt>
            Toegang
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Access)
        </dd>
        <dt>
            Interactie
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Interaction)
        </dd>
        <dt>
            Huis regels
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HouseRules)
        </dd>
        <dt>
            Foto
        </dt>
        <dd>
            <img src="@Html.DisplayFor(model => model.MediumUrl)" alt="Foto appartement" height="183" width="275">
        </dd>
        <dt>
            Eigenaar
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HostName)
        </dd>
        <dt>
            Gemiddelde response time
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HostResponseTime)
        </dd>

        
        <dt>
            Buurt
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Neighbourhood)
        </dd>
        
        <dt>
            Kamer type
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomType)
        </dd>

        <dt>
            Badkamers
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bathrooms)
        </dd>
        <dt>
            Slaapkamers
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bedrooms)
        </dd>
        <dt>
            Bedden
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Beds)
        </dd>
        <dt>
            Bed type
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BedType)
        </dd>
        <dt>
            Vierkante meter
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SquareFeet)
        </dd>
        <dt>
            Prijs
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            Prijs per week
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WeeklyPrice)
        </dd>
        <dt>
            Prijs per maand
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonthlyPrice)
        </dd>
        <dt>
            Borg
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SecurityDeposit)
        </dd>
        <dt>
            Schoonmaak kosten
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CleaningFee)
        </dd>
        <dt>
            Review score
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewScoresRating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Terug naar de kaart</a>
</div>
