@using Airbnb_v3.ViewModels;

@{
    ViewData["Title"] = "Map";
    @model ListingsViewModel;
        int minPrice = 0;
        int maxPrice = 0;
        int minRating = 0;
        if (Model.filters != null)
        {
            minPrice = Model.filters.MinPrice;
            maxPrice = Model.filters.MaxPrice;
            minRating = Model.filters.MinRating;
        }
}

<h2>Map</h2>


@*Oude filter form*@
@*<div class='sidebar'>
        <div class='heading'>
            <h1>Our locations</h1>
        </div>
        <div id='listings' class='listings'></div>
    </div>
    <form asp-controller="Listings" asp-action="Filter" method="post">
        <div class="form-row">
            <div class="col-lg-3 form-group">
                <label>Wijk</label>
                <select id="selectNeighbourhood" name="NeighbourhoodFilter" class="form-control"></select>
            </div>
            <div class="col-lg-3">
                <label>Zoekterm</label>
                <input type="text" class="form-control" />
            </div>
            <div class="col-lg-3">
                <label>Prijs van:</label>
                <input type="number" class="form-control" min="50" max="99998" />
                <label>tot:</label>
                <input type="number" class="form-control" min="51" max="99999" />
            </div>
            <div class="col-lg-3">
                <label>Beoordeling van:</label>
                <input type="number" class="form-control" min="1" max="5" />
                <label>tot:</label>
                <input type="number" class="form-control" min="1" max="5" />
            </div>
        </div>
        <div class="form-row"><input type="button" value="Zoeken" asp-controller="ListingsController" asp-action="GetListingsWithFilter" asp-route-id="selectNeighbourhood.Value" class="form-control btn-primary" /></div>
    </form>*@

<div class="row">
    <div class="col-lg-8">
        <div id='map' style='width: 800px; height: 600px;'></div>
    </div>
    <div class="col-lg-4">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            Filters
                        </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div id="filters">
                            <form asp-controller="Listings" asp-action="Filter" method="post">
                                <label asp-for="filters.Neighbourhood"></label>
                                @Html.DropDownListFor(model => model.filters.Neighbourhood, new SelectList(
                                                         Model.neighbourhoods,
                                                         "Neighbourhood",
                                                         "Neighbourhood",
                                                         0), "-- Please select --")

                                <label asp-for="filters.MinPrice">Minimum price per night:</label>

                                <input asp-for="filters.MinPrice" type="number" name="filters.MinPrice" value="@minPrice" />


                                <label asp-for="filters.MaxPrice">Maximum price per night:</label>
                                <input asp-for="filters.MaxPrice" type="number" name="filters.MaxPrice" value="@maxPrice" />
                                <br />
                                <label asp-for="filters.MinRating">Minimum rating:</label>
                                <br />
                                <input asp-for="filters.MinRating" type="number" name="filters.MinRating" value="@minRating" />
                                <br />
                                <input type="submit" value="Filter" />
                            </form>
                            @{
                                if (Model.filters != null)
                                {
                                    <p>Filtered on:</p>
                                    if (Model.filters.Neighbourhood != null)
                                    {
                                        <p>Neighbourhood: @Model.filters.Neighbourhood</p>
                                    }
                                    if (Model.filters.MinPrice > 0)
                                    {
                                        <p>Minimum price: @Model.filters.MinPrice</p>
                                    }

                                    if (Model.filters.MaxPrice > 0)
                                    {
                                        <p>Maximum price: @Model.filters.MaxPrice</p>
                                    }


                                    if (Model.filters.MinRating > 0)
                                    {
                                        <p>Minimum Rating: @Model.filters.MinRating</p>
                                    }
                                    <form asp-controller="Listings" asp-action="ClearFilter" method="get">
                                        <input type="submit" value="ClearFilters" />
                                    </form>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            Global graphs
                        </a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            Specific graphs
                        </a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <canvas id="myChart"></canvas>
                        <canvas id="reviewPerYear"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="~/js/MapBox.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/MapBox.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.js"></script>