@model Airbnb_v3.Models.Reviews

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reviews</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReviewerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReviewerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Listing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Listing.Access)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
